services:
  app:
    platform: linux/amd64
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    platform: linux/amd64
    ports:
      - "6379:6379"
